body {
    padding-bottom: 500px;
    background-color:floralwhite;
}

div {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color:gainsboro;
    font-family: sans-serif;
}

div input,
div label {
    display: block;
}